.account-button {
    padding: 2px 5px;
}

.retweet {
    background-color: alpha(grey, 0.1);
    border-left: 3px solid alpha(currentColor, 0.4);
}

.ImageButton {
    border-top-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    outline-width: 0px;
    padding: 0px;
}

.attitude-buttons {
    background-image: image(shade(@theme_base_color, 1));
    border-top-color: rgba(192, 192, 189, 0.5);
    border-bottom-color: rgba(192, 192, 189, 0.5);
    border-left-color: rgba(192, 192, 189, 0.5);
    border-right-color: rgba(192, 192, 189, 0.5);
    box-shadow: 0 0px rgba(255, 255, 255, 0);
}

.reply-comments {
    background-color: alpha(grey, 0.1);
    border-left: 3px solid alpha(currentColor, 0.2);
}

.name-button {
    font-weight: bold;
    background-image: none;
    background-color: transparent;
    border: none;
    border-radius: 0px;
    border-bottom: 1px solid transparent;
    box-shadow: none;
    outline-offset: 0px;
    padding: 0px;
    min-height: 0px;
    margin-bottom: -1px;
    text-shadow: none;
}

.name-button:hover {
    border-bottom: 1px solid currentColor;
}

.name-button:active {
    color: inherit;
    background-color: alpha(currentColor, 0.4);
}

.name-button:backdrop {
    background-color: transparent;
}
